@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #6366F1;
  --color-background: #0F172A;
  --color-surface: #1E293B;
  --color-text: #F1F5F9;
  --color-muted: #94A3B8;
  --color-error: #EF4444;
}

.bg-primary {
  background-color: var(--color-primary);
}
.bg-background {
  background-color: var(--color-background);
}
.bg-surface {
  background-color: var(--color-surface);
}
.text-clr {
  color: var(--color-text);
}     
.text-bclr {
  color: var(black);
}     
.bg-muted {
  background-color: var(--color-muted);
}
.bg-error {
  background-color: var(--color-error);
}
